{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog Posts</title>
        <link rel="stylesheet" href="{% static 'blogs.css' %}">
    </head>
    <body>
        <header>
            <div>Post a Blog</div>
            <nav>
                <a href="{% url 'posts_list' %}">Back to Home Page</a>
            </nav>
        </header>
        <main>
            <div class="blogs-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                      <button>Submit</button>
                    </div>
                </form>
                   
        </main>
        <footer>
            <div>Copyright 2022 by Alex Porter</div>
            
        </footer>
    </body>
</html>
