{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog Posts</title>
        <link rel="stylesheet" href="{% static 'blogs.css' %}">
    </head>
    <body>
        <header>
            <div>Post a Blog</div>
            <nav>
                <a href="{% url 'posts_list' %}">Back to Home Page</a>
                <a href="{% url 'create_post' %}">Create a Post</a>
            </nav>
        </header>
        <main>
            <div class="detail-page-blogs">
                <h2 class="post-title">
                  <a href="detail.html">{{ post.title }}</a>
                </h2>
                <p>
                  {{ post.content }}
                </p>
              </div>
            
        </main>
        <footer>
            <div>Copyright 2022 by Alex Porter</div>
            
        </footer>
        
    </body>
</html>