{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog Posts</title>
    </head>
    <link rel="stylesheet" href="{% static 'blogs.css' %}">
    <body>
        <header>
            <div>Post a Blog</div>
            <nav>
                <a href="{% url 'create_post' %}">Create a Post</a>
            </nav>
        </header>
        <main>
        {% for post in posts %}
            <div class="main-page-blogs">
                
                <h2 class="post-title">
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                </h2>
                <p>
                  {{ post.content }}
                </p>
            </div>
        {% endfor %}
            
        </main>
        <footer>
            <div>Copyright 2022 by Alex Porter</div>
        </footer>
    </body>
</html>